body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tittle {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  font-size: 1.2em;
  margin: 10px 0;
}

input,
select {
  width: 200px;
  height: 30px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

#submitBook {
  width: 10rem;
  height: 4rem;
  font-size: 1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

#submitBook:hover {
  background-color: #38823a;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #ecf3ed;
  border-radius: 1rem;
  padding: 0.5rem;
}

.card-content {
  font-size: 16px;
  padding: 2px;
  margin: 0.2rem;
}

.card-delete {
  border-radius: 5px;
  border-color: #80ea84;
  cursor: pointer;
}

.card-delete:hover {
  background-color: #38823a;
  color: white;
}
